/* You can add global styles to this file, and also import other style files */


/* You can add global styles to this file, and also import other style files */

@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-inputs/styles/material.css';
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import '../node_modules/@syncfusion/ej2-angular-navigations/styles/material.css';
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-grids/styles/material.css';
@import "../node_modules/@syncfusion/ej2-angular-layouts/styles/material.css";
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-icons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-dropdowns/styles/material.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';




::-webkit-scrollbar {
    width: 7px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #aaa;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 20%;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 20px;
    border: 1px solid transparent;
    background-clip: content-box;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #8d9da0;
  }


html, body { height: 100%; background-color: #F9F5F3 ;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
    box-sizing: border-box ;
    margin: 0;
    padding: 0;
}

/* overrides */
.mat-body p, .mat-body-1 p, .mat-typography p {
    margin: 0;
}

.mat-tab-list{
    background-color: white !important;
}

/* .mat-h2, .mat-title, .mat-typography h2{
    margin: 0;
}

.mat-h3, .mat-title, .mat-typography h3{
    margin: 0;
} */

.e-dashboardlayout.e-control .e-panel {
    border: 0px #e0e0e0 solid;
    height: 100%;
    -webkit-user-select: none;
    user-select: none;
    width: 100%;
}

.e-dashboardlayout.e-control .e-panel {
    background: transparent;
    box-shadow: 0 0px 0px 0 rgb(0 0 0 / 15%);
    box-sizing: border-box;
    position: absolute;
}