<div class="container-fluid">
  <mat-tab-group mat-stretch-tabs mat-align-tabs="center" style="width: 100%;">
    <mat-tab label="Threshold Settings" style="width: 100%;">
      <div class="row mt-2" style="width: 100%;">
      <h1 class="text-center">Settings</h1>
      </div>
      <br>
      <div class="row" style="width: 100%;">
        <div class="col-3">
        </div>
      <div class="col-6">
        <div class="card shadow mb-5"  style="background-color: #F4DBD4;  border-bottom-left-radius: 20px;border-bottom-right-radius: 20px;">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <select class="form-select" *ngIf="!idName" (change)="stationId = $event.target.value;" aria-label="Default select example">
                  <option selected>Select Station</option>
                  <option *ngFor="let te of stations" [value]="te.id">{{te.name}}</option>
                </select>
                <select class="form-select" *ngIf="idName" (change)="stationId = $event.target.value; getMaxMinRead();" aria-label="Default select example">
                  <option selected>Select Station</option>
                  <option *ngFor="let te of stations" [value]="te.id">{{te.name}}</option>
                </select>
              </div>
              <div class="col">
                <select class="form-select" (change)="idName =  $event.target.value; getMaxMinRead();" aria-label="Default select example">
                  <option selected>Select Any Pressure or Temperature</option>
                  <option *ngFor="let te of temp" [value]="te.value">{{te.name}}</option>
                </select>
              </div>

            </div>

            <br>
            <form [formGroup]="SettingsForm" (ngSubmit)="getMaxMinRead2()">
              <div class="row">
                <div class="form-group col-6">
                  <h3 for="max" class="text-center">Max</h3>
                  <br>
                  <input style="height: 60px;" type="number" formControlName="max" class="form-control rounded-pill" aria-label="Sizing example input"  placeholder="Max" aria-describedby="inputGroup-sizing-lg">

              </div>
              <div class="form-group col-6">
                <h3 for="max" class="text-center">Min</h3>
                <br>
                <input style="height: 60px;" type="number" formControlName="min" class="form-control rounded-pill" aria-label="Sizing example input"  placeholder="Min" aria-describedby="inputGroup-sizing-lg">

            </div>
              <div class="form-group col-6">
                <br>
                <h3 for="thv" class="text-center">Threshold Value</h3>
                <br>
                <input style="height: 60px;" formControlName="thv" type="number" class="form-control rounded-pill" aria-label="Sizing example input" placeholder="Threshold Value" aria-describedby="inputGroup-sizing-lg">

            </div>
            <div class="form-group col-6">
              <br>
              <h3 for="thv" class="text-center">Warning Value</h3>
              <br>
              <input style="height: 60px;" formControlName="wv" type="number" class="form-control rounded-pill" aria-label="Sizing example input" placeholder="Warning Value" aria-describedby="inputGroup-sizing-lg">

          </div>
              </div>

              <br>
              <div class="row">
                <div class="col-4">

                </div>
                <div class="col-2">
                  <button  type="button" (click)="redirect()"  class="btn btn-lg rounded-pill example-form" style="background-color: rgb(248,156,20); color: white;">
                    <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> -->
                    Home
                </button>
                </div>
                <div class="col-3">
                  <button  type="button" (click)="getMaxMinRead2()"  class="btn btn-lg rounded-pill example-form" style="background-color: rgb(248,156,20); color: white;">
                    <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> -->
                    Save
                </button>
                </div>
              </div>

          </form>


            </div>

        </div>
      </div>

      </div></mat-tab>
    <mat-tab label="Target Settings">
      <div class="row mt-2" style="width: 100%;">
      <h1 class="text-center">Settings</h1>
      </div>
      <br>
      <div class="row" style="width: 100%;">
        <div class="col-3">
        </div>
      <div class="col-6">
        <div class="card shadow mb-5"  style="background-color: #F4DBD4;  border-bottom-left-radius: 20px;border-bottom-right-radius: 20px;">
          <div class="card-body">
            <div class="row">
              <select class="form-select"  (change)="stationId = $event.target.value;getMaxMinRead3();" aria-label="Default select example">
                <option selected>Select Station</option>
                <option *ngFor="let te of stations" [value]="te.id">{{te.name}}</option>
              </select>
              <br>
            </div>
            <form [formGroup]="SettingsForm2" (ngSubmit)="getMaxMinRead4()">
              <div class="row">
                <div class="form-group col-6">
                  <h3 for="max" class="text-center">Sales Target</h3>
                  <br>
                  <input style="height: 60px;" type="number" formControlName="max" class="form-control rounded-pill" aria-label="Sizing example input"  placeholder="Sales Target" aria-describedby="inputGroup-sizing-lg">

              </div>
              <div class="form-group col-6">
                <h3 for="max" class="text-center">Transactions Target</h3>
                <br>
                <input style="height: 60px;" type="number" formControlName="min" class="form-control rounded-pill" aria-label="Sizing example input"  placeholder="Transactions Target" aria-describedby="inputGroup-sizing-lg">

            </div>
              <div class="form-group col-6">
                <br>
                <h3 for="thv" class="text-center">Value Target</h3>
                <br>
                <input style="height: 60px;" formControlName="thv" type="number" class="form-control rounded-pill" aria-label="Sizing example input" placeholder="Value Target" aria-describedby="inputGroup-sizing-lg">

            </div>
            <div class="form-group col-6">
              <br>
              <h3 for="thv" class="text-center">Value Rate</h3>
              <br>
              <input style="height: 60px;" formControlName="wv" type="number" class="form-control rounded-pill" aria-label="Sizing example input" placeholder="Value Rate" aria-describedby="inputGroup-sizing-lg">

          </div>
              </div>

              <br>
              <div class="row">
                <div class="col-4">

                </div>
                <div class="col-2">
                  <button  type="button" (click)="redirect()"  class="btn btn-lg rounded-pill example-form" style="background-color: rgb(248,156,20); color: white;">
                    <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> -->
                    Home
                </button>
                </div>
                <div class="col-3">
                  <button  type="button" (click)="getMaxMinRead4()"  class="btn btn-lg rounded-pill example-form" style="background-color: rgb(248,156,20); color: white;">
                    <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> -->
                    Save
                </button>
                </div>
              </div>

          </form>


            </div>

        </div>
      </div>

      </div></mat-tab>
  </mat-tab-group>
</div>


